.projects--container {
    margin: 0 auto;
}

.project {
    display: grid;
    grid-template-columns: 2fr auto;
    margin-bottom: 6rem;
    gap: 3rem;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: 0 3px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project:hover {
    box-shadow: 0 12px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project--info {
    margin: auto 4rem;
}

.project--info h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.project--info p {
    font-size: 1.6rem;
    margin: 3rem 0;
}

.project--links a {
    padding: .3rem .5rem;
    border: 1px solid var(--clr--btn-primary);
    color: var(--clr--text-primary);
    font-weight: 500;
    margin-right: 2rem;
    font-size: 1.6rem;
    border-radius: 5px;
}

.project--links a:hover {
    background-color: var(--clr--btn-primary);
    color: #fff;
}

.project--image {
    max-width: 30rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .project--info {
        padding:2rem;
    }
}

@media screen and (max-width: 800px) {
    .project {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 7rem;
    }
    .project--info {
        text-align: center;
        padding:0;
    }
    .project--links {
        text-align: center  ;
        margin-bottom: 2rem;
    }
    .project--image {
        max-width: 70vw;
        margin-bottom: 2rem;
    }
}