.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction--main h1 {
    font-size: clamp(4.2rem, 9vw, 6rem);
}

.introduction--main h3 {
    font-size: clamp(2.6rem, 2vw, 3.6rem);
    letter-spacing: 0.2rem;    
}

.introduction--main p {
    font-size: clamp(1.6rem, 2vw, 3rem);
    letter-spacing: 0.2rem;    
}

.btn-primary {
    padding: 2rem 6rem;
    background-color: #2f2e41;
    font-weight: bold;
    margin-top: 2rem;
    transition: 0.5s;
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
}

.btn-primary a {
    color: #fff;
}

.btn-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #2f2e41;
    transition: top, left, right, bottom, .1s ease-in-out;
}

.btn-primary:hover::before,
.btn-primary:focus::before {
    top: calc(2px * -2);
    left: calc(2px * -2);
    right: calc(2px * -2);
    bottom: calc(2px * -2);
}

.scroll_down {
    height: 70px;
    width: 40px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll_down::before,
.scroll_down::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #fff;
    height: 15px;
    width: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1.3s ease-in-out infinite;
}

.scroll_down::after {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

@media screen and (max-width: 1400px) {
    .introduction {
        flex-direction: column;
    }
    .introduction--image {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    .introduction--nav {
        display: none;
    }

    .scroll_down {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .introduction--image {
        display: none;
    }

    .introduction--main {
        text-align: center;
    }
}
