form {
    max-width:80rem;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 1.6rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid;
    resize: none;
    color: var(--clr--text-primary);
    margin: 1rem 0;
}

form button {
    padding: 2rem 6rem;
    text-align: center;
    border-radius: 0.5rem;
    background: var(--clr--btn-primary);
    color: var(--clr--white);
    font-weight: bold;
    cursor: pointer;
}   