.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--clr--background-primary);
    z-index: 2;
}

.navbar--list {
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.list--item {
    margin-right: 4rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

.link {
    position: relative;
    padding: 1rem;
}

.link:before, .link:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--clr--btn-primary);
    transition: .1s;
    opacity: 0;
}

.link:hover {
    opacity: 1;
}


.link:hover:before, .link:hover:after {
    right: 0;
    opacity: 1;
}

label {
    margin-right: 4rem;
}

input[type='checkbox'] {
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 4rem;
    height: 2rem;
    background-color: var(--clr--text-primary);;
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden;
    transition: ease-in .5s;
    box-shadow: 0 0 .2rem rgba(0,0,0, 1);
}

input[type='checkbox']:checked ~ .check {
    background-color: var(--clr--text-primary);
}

.check:before {
    content: '';
    position: absolute;
    top: .2rem;
    right: .2rem;
    background-color: var(--clr--background-primary);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 
    transition: .5s;
    transform: translateX(5rem);
}

input[type='checkbox']:checked ~ .check:before {
    transform: translateX(0rem);
}

.check:after {
    content: '';
    position: absolute;
    top: .2rem;
    left: .2rem;
    background-color: var(--clr--background-primary);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 
    transition: .5s;
}

input[type='checkbox']:checked ~ .check:after {
    transform: translateX(-5rem);
}

.btn-mobile {
    display: none;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
    padding: 0.5rem;
    font-size: 1.8rem;
    background-color: var(--clr--background-primary);
    color: var(--clr--text-primary);
}

@media screen and (max-width: 1024px) {

    .navbar--list {
        flex-direction: column;
        height: auto;
        background-color: var(--clr--background-primary);
    }

    .list--item {
        width: 100%;
        border-top: 1px solid;
        text-align: center;
        margin-right: 0;
        padding: 2rem 0;
    }

    .list--item:nth-child(1) {
        border-top: 1px solid;
        margin-top: 7rem;
    }

    .btn-mobile {
        display: block;
    }

    label {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
}