.footer {
    background-color: #000;
    text-align: center;
    padding: 2rem;
    color: #fff;
}

.footer--me h3 {
    font-size: 3rem;
    margin-top: 2rem;
}

.footer--me p {
    font-size: 1.6rem;
}

.footer--nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-bottom: 2px solid;
}

.footer--nav li a {
    color: #fff;
    font-size: 1.4rem;

}

.footer--contact {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.footer--contact a {
    color: #fff;
    font-size: 2.4rem;
}