@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  color: #fff;
  line-height: 1.5;
  margin: auto;
}

html {
  font-size: 10px;
}

.full_page {
  height: 100vh;
}

.padd_page {
  padding: 5rem 0;
}

.content_container {
  max-width: 124rem;
  margin: 0 auto;
  width: 90%;
}
