* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #121212;
  color: #fff;
  line-height: 1.5;
  width: 70vw;
  margin: auto;
}

.full_page {
  height: 100vh;
}

.padding_page {
  padding: 5rem 0;
}