@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
  --clr--text-primary: #000;
  --clr--background-primary: #fff;
  --clr--background-secondary: #8080800d;
  --clr--btn-primary: #2f2e41;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr--background-primary);
  color: var(--clr--text-primary);
  line-height: 1.5;
  margin: auto;
}

html {
  font-size: 10px;
}

html h2 {
    text-align: center;
    font-size: clamp(1.5rem, 6vw, 3rem);
    margin-bottom: 6rem;
    font-weight: 500;
}

.full_page {
  height: 100vh;
}

.padd_page {
  padding: 12rem 0;
}

.content_container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

